/*Menu-logo*/
html, body {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 40px;
    max-width: auto;
    max-height: auto;
    margin-top: 15px;
}

/*Menu-busca*/
.tr-branco {
    width: 70px;
    height: 70px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: -12px;
}

.search {
    margin-top: 15px;
    margin-inline-start: -12px;
}

.search:focus {
    outline: none;
    box-shadow: none !important;
}

a .bt-lupa {
    width: 100%;
    height: 40px;
    max-width: auto;
    max-height: auto;
    margin-top: 15px;
    border-radius: 2px 2px;
    margin-inline-start: -3px;
}

/*Atendimento e Minha Conta*/
.icons-header {
    width: 50%;
    height: 20px;
    max-width: auto;
    max-height: auto;
    margin-top: 25px;
    text-decoration: none;
    margin-inline-start: 15px;
}

.link {
    text-decoration: none;
    color: honeydew;
    text-align: center;
    padding-top: 5px;
    margin-inline-start: 3px;
}

.link:hover {
    color: honeydew;
}

.options {
    margin-top: 10px;
    margin-inline-start: 12px;
}

/*Carrinho - Menu 2*/
.carrinho {
    width: 100%px;
    height: 92px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: 35px;
}

/*Triangulo branco*/

.tr-branco2 {
    width: 92px;
    height: 92px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: -100px;
}

span {
    color: white;
    text-align: justify;
}

.categorias {
    margin-top: 15px;
    margin-inline-start: -12px;
}

.categorias:focus {
    outline: none;
    box-shadow: none !important;
}
/*Banner*/
.banner {
    margin-left: 0;
    margin-right: 0;
}

.venda {
    box-shadow: 0 0 1em rgb(252, 234, 185);
}

/*Faixa de Produtos*/
.enfeite {
    width: 100%;
    height: 90px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: 45px;
}

.enfeite2 {
    width: 100%;
    height: 90px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: -45px;
}
/*Footer*/
.link-footer{
    text-decoration: none;
}