/*Menu-logo*/
.logo {
    width: 100%;
    height: 40px;
    max-width: auto;
    max-height: auto;
    margin-top: 15px;
}

/*Menu-busca*/
.tr-branco {
    width: 70px;
    height: 70px;
    max-width: auto;
    max-height: auto;
    margin-inline-start: -12px;
}

.search {
    margin-top: 15px;
    margin-inline-start: -12px;
}

.search:focus {
    outline: none;
    box-shadow: none !important;
}

a .bt-lupa {
    width: 100%;
    height: 40px;
    max-width: auto;
    max-height: auto;
    margin-top: 15px;
    border-radius: 2px 2px;
    margin-inline-start: -3px;
}

/*Atendimento e Minha Conta*/
.icons-header {
    width: 50%;
    height: 20px;
    max-width: auto;
    max-height: auto;
    margin-top: 25px;
    text-decoration: none;
    margin-inline-start: 15px;
}
.link{
    text-decoration: none;
    color: honeydew;
    text-align: center;
    padding-top: 5px;
    margin-inline-start: 3px;
}
.link:hover{
    color: honeydew;
}

